<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SV" value="localhost"/>
		<add key="PT" value="3306"/>
		<add key="US" value="root"/>
		<add key="PW" value=""/>
		<add key="BD" value="bdcori"/>
	</appSettings>
</configuration>